@charset "utf-8";
/***************** 나눔바른고딕, 나눔고딕 *****************/
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/*@font-face {font-family:'Nanum Gothic'; src:url(../font/NanumGothic.eot); src:url(../font/NanumGothic.woff);}*/
@font-face {font-family:'NanumBarunGothicBold'; src:url(../font/NanumBarunGothicBold.eot); src:url(../font/NanumBarunGothicBold.woff);} 
@font-face {font-family:'NanumBarunGothic'; src:url(../font/NanumBarunGothic.eot); src:url(../font/NanumBarunGothic.woff);} 

/***************** CSS include *****************/
/*@import "signup.css";*/

/******* link **********/
a {selector-dummy:expression(this.hideFocus=true);}
a {color:#555; text-decoration:none;}
a:link {color:#555;}
a:visited {color:#555;}
a:hover {color:#555;}
a:active {color:#555;}

/* 브라우저 리셋 */
* {margin:0; padding:0;}
body {font-family:"나눔바른고딕", NanumBarunGothic, "돋음", dotum,"맑은 고딕",MalgunGothic, AppleGothic, Arial, sans-serif; color:#555; font-size:0.75em;}
legend, caption {position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
ol, ul {list-style:none;}
hr {display:hidden;}
em {font-weight:normal;}

/***************** 사용자 시작 *****************/

/***************** 공통 *****************/
body {/*min-width:320px;*/ background-color:#f0eef3;}
.login_wrap {width:320px;margin:0 auto;}
.sub_wrap {border:1px solid red; }
.sub_wrap header {height:44px; line-height:44px; background-color:#fff; text-align:center;
    -moz-box-shadow: 0 3px 6px #b2b6c0;
    -webkit-box-shadow: 0 3px 6px #b2b6c0;
    box-shadow: 0 3px 6px #b2b6c0
    }
.sub_wrap header h1 {font-size:16px;}
.sub_wrap header img {vertical-align:middle; margin:0 0 0 10px;}
/*.sub_wrap article {width:320px;margin:0 auto;}*/
.sub_wrap article {width:100%;margin:0 auto;}

article hr {background:url("../images/hr.png") repeat-x; width:294px; height:2px; margin:0 auto; border:none;}
span.dot {display:inline-block; margin:0 3px 0 0; background-color:#01baff; width:5px; height:5px; line-height:5px; -webkit-background-size:5px 5px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

footer {min-width:320px; z-index:500; position:static; bottom:0; margin:20px 0 0 0; border-top:1px solid #ddd;}
footer ul {overflow:hidden; width:100%; background-color:#f5f5f5; text-align:center;}
footer ul li {float:left; height:50px; line-height:50px; width:33.3%; text-align:center;}
footer ul li a {display:inline-block; height:50px; line-height:50px; width:100%; text-indent:-9999px;}
footer ul li a.fm01 {background:url("../images/menu_out.png") no-repeat center center; background-size:40px;}
footer ul li a.fm02 {background:url("../images/home_out.png") no-repeat center center; background-size:40px;}
footer ul li a.fm03 {background:url("../images/mypage_out.png") no-repeat center center; background-size:40px;}
footer ul li a.fm01:hover {background:url("../images/menu_over.png") no-repeat center center; background-color:#39c9ff ;background-size:40px;}
footer ul li a.fm02:hover {background:url("../images/home_over.png") no-repeat center center; background-color:#39c9ff; background-size:40px;}
footer ul li a.fm03:hover {background:url("../images/mypage_over.png") no-repeat center center; background-color:#39c9ff; background-size:40px;}
footer .copyright {text-align:center; margin:30px 0 100px 0;}
