@charset "utf-8";
/************************************************
JinSales // sub.css 
Author : 전혜정 (2014-06-02)
*************************************************/

/***************** 마이페이지*****************/
article.mypage fieldset.intro {text-align:center;}
article.mypage fieldset.intro div {display:inline-block; text-align:left; margin:15px 0 0 15px; background:url("../images/myphoto.png") no-repeat; padding:0 0 10px 82px; background-size:67px;}
article.mypage fieldset.intro p.welcom {color:#01baff; font-size:14px;}
article.mypage fieldset.intro input {width:220px; height:33px; font-size:28px; font-weight:bold; color:#01baff; border:none; background-color:transparent; font-family:"나눔바른고딕", NanumBarunGothic;}
article.mypage fieldset.intro p.t_txt {font-size:18px; color:#888;}
article.mypage fieldset.intro p.t_txt em {font-weight:bold; color:#222;}
article.mypage table {width:100%;}
article.mypage table th, article.mypage table td {background-color:#fff; border-top:1px solid #ddd; padding:10px 0; height:30px; vertical-align:middle;}
article.mypage table .last th, article.mypage table .last td {border-bottom:1px solid #ddd;}
article.mypage table th {text-align:right; width:30%;}
article.mypage table td {text-align:left; width:70%; padding:0 0 0 20px; font-size:15px; font-weight:bold;}

article.mypage div.btn_pwchange {text-align:center; margin:0 0 10px 0;}
article.mypage div.btn_pwchange a.pwchange {display:inline-block; font-size:16px; font-weight:bold; text-align:center; margin:10px 10px 0 13px;
width:122px; height:43px; -webkit-background-size:122px 43px; line-height:43px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px
border:1px solid #1ca1d6; color:#fff; background: rgb(33,173,226); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top, rgb(33,173,226) 0%, rgb(41,162,206) 100%, rgb(41,162,206) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,173,226)), color-stop(100%,rgb(41,162,206)), color-stop(100%,rgb(41,162,206))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(33,173,226) 0%,rgb(41,162,206) 100%,rgb(41,162,206) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(33,173,226) 0%,rgb(41,162,206) 100%,rgb(41,162,206) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(33,173,226) 0%,rgb(41,162,206) 100%,rgb(41,162,206) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(33,173,226) 0%,rgb(41,162,206) 100%,rgb(41,162,206) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21ade2', endColorstr='#29a2ce',GradientType=0 ); /* IE6-8 */}

article.mypage div.btn_pwchange a.logout {display:inline-block; font-size:16px; font-weight:bold; text-align:center; margin:10px 10px 0 0;
width:102px; height:43px; -webkit-background-size:102px 43px; line-height:43px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
border:1px solid #ddd; color:#666; background: rgb(252,252,252); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(252,252,252) 0%, rgb(237,237,237) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(252,252,252)), color-stop(100%,rgb(237,237,237))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(252,252,252) 0%,rgb(237,237,237) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(252,252,252) 0%,rgb(237,237,237) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(252,252,252) 0%,rgb(237,237,237) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(252,252,252) 0%,rgb(237,237,237) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */}


/***************** 비밀번호 변경 *****************/
article.changepw p.txt {margin:15px 0 10px 15px; font-size:15px; line-height:18px;}
article.changepw p.txt em {font-weight:bold; color:#222;}
article.changepw form {text-align:right; margin:10px 0 0 5px; padding:0 45px 0 0;}
article.changepw form input.inputclick {font-size:1.25em; margin:0 0 7px 3px; padding:0 0 0 10px; border:1px solid #c7c7c7; color:#333;
width:160px; height:30px; -webkit-background-size:160px 30px;
border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
article.changepw form ul li.f-id input {border:none; background-color:transparent;}
article.changepw form ul li.ls {letter-spacing:-0.5px;}

article.changepw form fieldset {position:relative; min-width:275px; padding:0 38px 0 0;}
article.changepw form ul.i_checkbox {position:absolute; top:40px; right:0;}
article.changepw form ul.i_checkbox li {margin:0 0 5px 0;}
article.changepw form ul.i_checkbox input {display:inline-block; width:35px; height:31px; display:none;}
article.changepw form ul.i_checkbox label {display:inline-block; width:35px; height:31px; padding:5px 0 0 0;}
article.changepw form ul.i_checkbox input:checked + label {background:url("../images/check.png") no-repeat;}

article.changepw form div.message {z-index:200; margin:0 0 10px 0; text-align:center; background-color:#f95757; width:185px; height:28px; -webkit-background-size:185px 28px; line-height:28px; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px;}
article.changepw form div.m01 {position:absolute; top:15px; right:30px;}
article.changepw form div.m02 {position:absolute; top:53px; right:30px;}
article.changepw form div.m03 { position:absolute; top:93px; right:30px;}
article.changepw form div.message p {background:url("../images/arr.png") no-repeat 20% 90%;  font-size:11px; color:#fff; text-align:center; padding:0 0 10px 0;}
article.changepw form div.m01, article.changepw form div.m03 {display:none;}

article.changepw ul.ps {margin:5px 0 10px 15px;}
article.changepw ul.ps li {margin:0 0 5px 0; font-size:10px;}

article.changepw form select {margin:0 0 7px 3px; padding:0 0 0 30px; width:192px; height:32px; border:1px solid #c7c7c7;}
article.changepw div.area_btn {text-align:center; margin:0 0 10px 0;}
article.changepw div.area_btn a {display:inline-block; font-size:16px; font-weight:bold; text-align:center; margin:10px 10px 0 0;
width:102px; height:43px; -webkit-background-size:102px 43px; line-height:43px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

article.changepw div.area_btn a.btn_save {border:1px solid #1ca1d6; color:#fff; background: rgb(33,173,226); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxYWRlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOWEyY2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjlhMmNlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgb(33,173,226) 0%, rgb(41,162,206) 100%, rgb(41,162,206) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,173,226)), color-stop(100%,rgb(41,162,206)), color-stop(100%,rgb(41,162,206))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(33,173,226) 0%,rgb(41,162,206) 100%,rgb(41,162,206) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(33,173,226) 0%,rgb(41,162,206) 100%,rgb(41,162,206) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(33,173,226) 0%,rgb(41,162,206) 100%,rgb(41,162,206) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(33,173,226) 0%,rgb(41,162,206) 100%,rgb(41,162,206) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21ade2', endColorstr='#29a2ce',GradientType=0 ); /* IE6-8 */}

article.changepw div.area_btn a.btn_cancel {border:1px solid #ddd; color:#666; background: rgb(252,252,252); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(252,252,252) 0%, rgb(237,237,237) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(252,252,252)), color-stop(100%,rgb(237,237,237))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(252,252,252) 0%,rgb(237,237,237) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(252,252,252) 0%,rgb(237,237,237) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(252,252,252) 0%,rgb(237,237,237) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(252,252,252) 0%,rgb(237,237,237) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */}



/***************** 매출관리 홈*****************/
.sub_sh header {overflow:hidden;}
.sub_sh header h1 {display:inline-block;}
.sub_sh header a {display:inline-block; width:39px; height:43px; line-height:43px; vertical-align:top;}
.sub_sh header a.back {float:left; background:url("../images/back.png") no-repeat center center; background-size:20px; margin:0 0 0 10px;}
.sub_sh header a.down {float:right; background:url("../images/down.png") no-repeat center center; background-size:20px; margin:0 10px 0 0 ;}

article.saleshome {margin:0 auto;}
article.saleshome fieldset.storename {margin:10px 0 0 0; overflow:hidden;}
article.saleshome fieldset.storename select {float:right; margin:0 20px 7px 3px; padding:0 0 0 30px; width:150px; height:28px; border:1px solid #c7c7c7;}
article.saleshome fieldset.sales {text-align:right;}
article.saleshome fieldset.sales label {font-size:13px;}
article.saleshome fieldset.sales input {border:none; display:inline-block; width:160px; height:26px; line-height:26px; background-color:transparent; font-size:18px; font-weight:bold; text-align:right; vertical-align:middle;}
article.saleshome fieldset.sales ul li {background-color:#fff; border-top:1px solid #ddd; padding:15px 20px 13px 0; }
article.saleshome fieldset.sales ul li.day {padding-bottom:0; padding-right:0;}
article.saleshome fieldset.sales ul li.day input.first {margin-bottom:5px;}
article.saleshome fieldset.sales ul li.item {border-bottom:1px solid #ddd;}
article.saleshome fieldset.sales ul li a.arrow {display:inline-block; width:20px; height:33px;background:url("../images/arrow.png") no-repeat center center; 
background-size:12px; vertical-align:middle; margin-left:10px;}
article.saleshome fieldset.sales ul li a.mr {margin-right:20px;}

article.saleshome fieldset.sales ul.daymore {margin:5px 0 5px 0;}
article.saleshome fieldset.sales ul.daymore li {border:none;background-color:#f0eef3; padding:0;}
article.saleshome fieldset.sales ul.daymore li input {font-size:14px; font-weight:normal; width:110px; height:26px; margin-right:55px;}
article.saleshome fieldset.sales ul.daymore li strong {display:inline-block; color:#fff; padding:3px 5px; background-color:#f95757; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
article.saleshome fieldset.sales ul.daymore li.padding10 {padding-top:10px;}

/***************** 전체메뉴*****************/
article.menu {width:100%}
article.menu h2 {padding:5px 0 0 20px; height:60px; line-height:60px; font-size:13px;}
article.menu .sales h2 {width:60px; height:60px; background:url("../images/menu_t01.png") no-repeat center center; background-size:40px;}
article.menu .mypage h2 {width:60px; height:60px; background:url("../images/menu_t02.png") no-repeat center center; background-size:40px;}
article.menu h2 span {display:inline-block; height:60px; width:60px;margin:0 0 0 50px;}
article.menu ul {overflow:hidden;}
article.menu ul li {float:left;display:inline-block; height:60px; line-height:60px;  padding:3px 0 0 0; border-top:1px solid #ddd; border-left:1px solid #ddd; cursor:pointer;}
article.menu ul li.m01 {width:49.5%; background:url("../images/menu01.png") no-repeat 15% center; background-size:40px; background-color:#fff;}
article.menu ul li.m02 {width:50%; background:url("../images/menu02.png") no-repeat 15% center; background-size:40px; background-color:#fff;}
article.menu ul li.m03 {width:49.5%;background:url("../images/menu03.png") no-repeat 15% center; background-size:40px; background-color:#fff; border-bottom:1px solid #ddd;}
article.menu ul li.m04 {width:50%;background:url("../images/menu04.png") no-repeat 15% center; background-size:40px; background-color:#fff; border-bottom:1px solid #ddd;}
article.menu ul li.m05 {width:49.5%;background:url("../images/menu05.png") no-repeat 15% center; background-size:40px; background-color:#fff; border-bottom:1px solid #ddd;}
article.menu ul li.m06 {width:50%;background:url("../images/menu06.png") no-repeat 15% center; background-size:40px; background-color:#fff; border-bottom:1px solid #ddd;}
article.menu ul li a {display:inline-block; min-width:100%; padding:0 0 0 20px; text-align:center; font-size:14px; font-weight:bold;}

/***************** 일, 월, 년, 상품별매출 내역(공통)*****************/
.sub_sales article {background-color:#fff;}
.sub_sales form { background-color:#f0eef3;}
.sub_sales header {overflow:hidden;}
.sub_sales header h1 {display:inline-block;}
.sub_sales header a {display:inline-block; width:39px; height:43px; line-height:43px; vertical-align:top;}

.back {float:left; background:url("../images/back.png") no-repeat center center; background-size:20px; margin:0 0 0 10px;}
.down {float:right; background:url("../images/down.png") no-repeat center center; background-size:20px; margin:0 10px 0 0 ;}

.sub_sales fieldset.storename {margin:10px 0 0 0; overflow:hidden;}
.sub_sales fieldset.storename div {float:left;}
.sub_sales fieldset.storename select {float:right; margin:5px 20px 7px 3px; padding:0 0 0 30px; width:150px; height:28px; border:1px solid #c7c7c7;}
.i_back {display:inline-block; width:21px; height:40px; line-height:40px; background:url("../images/i_back.png") no-repeat center center; background-size:10px; margin:0 10px;}
.i_next {display:inline-block; width:21px; height:40px; line-height:40px; background:url("../images/i_next.png") no-repeat center center; background-size:10px; margin:0 10px;}

.calendar {overflow:hidden; padding:0 0 10px 0;}
.calendar div {float:left; vertical-align:middle;}
.calendar input {border:1px solid #c7c7c7; padding:3px 5px 5px 0; width:100px; font-size:14px; text-align:right;}
.calendar span {display:inline-block; width:23px; height:25px; line-height:25px; background:url("../images/calendar.png") no-repeat center center;}
.calendar .i_txt {font-size:24px; font-weight:bold; padding:3px 0 0 7px;}
.date {font-size:14px;}

.tabmenu {overflow:hidden; background-color:#e9f0f2; width:100%;}
.tabmenu li {float:left; width:20%; height:35px; line-height:35px; text-align:center;}
.tabmenu li.active {width:20%; border-bottom:2px solid #01baff; border-right:none;}
.tabmenu li a {display:inline-block; width:100%; height:35px; line-height:35px; text-align:center; font-size:13px; color:#737f82; border-top:1px solid #c9d8dc; border-right:1px solid #c9d8dc; border-bottom:2px solid #01baff;}
.tabmenu li.active a {width:100%; font-size:14px; font-weight:bold; color:#222; background-color:#fff; border:1px solid #01baff; border-bottom:1px solid #fff; border-top:5px solid #01baff;}


.tabcontent table {width:100%; margin:10px 0 0 0;}
.tabcontent table.p_table {margin:0;}
.tabcontent th {height:30px; line-height:30px; padding:3px 0 0 0; font-size:13px;background-color:#67cbf1;}
.tabcontent td.prize {font-size:18px; font-weight:bold;}
.tabcontent td {border-top:1px solid #ddd; padding:10px 25px 10px 0; text-align:right; font-size:13px;}

.tabcontent td.prize {font-size:18px; font-weight:bold;}
.p_more {background-color:#fcf1f3; color:#01aeff;}
.p_more td {border-top:none; font-size:13px; font-weight:normal;}
.i_plus {display:inline-block; padding:0 20px 0 0; width:27px; height:27px; line-height:27px; background:url("../images/i_plus.png") no-repeat center right; background-size:13px;}
.i_minus {display:inline-block; padding:0 20px 0 0; width:27px; height:27px; line-height:27px; background:url("../images/i_minus.png") no-repeat center right; background-size:13px;}

.i_prize {display:inline-block; padding:0 20px 0 0; width:27px; height:27px; line-height:27px; }

.total {z-index:1000; background-color:#3266bc; opacity:0.9; height:40px; line-height:40px; font-size:16px; color:#fff; text-align:center; position:static; bottom:0;}
.top {border-top:none; margin-top:0; position:static; bottom:0;]
 


